<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                    http://www.springframework.org/schema/util
                    http://www.springframework.org/schema/util/spring-util-2.5.xsd">

    <bean id="student" class="org.example.student">
        <property name="id" value="01"/>
        <property name="name" value="Ethan"/>
        <property name="ph">
            <list value-type="phone">
                <ref bean="phone1"/>
                <ref bean="phone2"/>
                <ref bean="phone3"/>
                <ref bean="phone4"/>
            </list>
        </property>
        <property name="add" ref="address"/>
    </bean>

    <bean id="address" class="org.example.Address">
        <property name="city" value="Atlanta"/>
        <property name="state" value="Georgia"/>
        <property name="country" value="USA"/>
        <property name="zipcode" value="12345"/>
    </bean>

    <bean id="phone1" class="org.example.Phone">
        <property name="mob" value="9876543210"/>
    </bean>

    <bean id ="phone2" class="org.example.Phone">
        <property name="mob" value="1234567890"/>
    </bean>

    <bean id ="phone3" class="org.example.Phone">
        <property name="mob" value="0123456789"/>
    </bean>

    <bean id="phone4" class="org.example.Phone">
        <property name="mob" value="0987654321"/>
    </bean>

</beans>